<div class="list">
    <ul>
        <li ng-repeat="value in movie.subjects" class="ng-scope">
            <a href="#/details">
                <img ng-src="{{value.images.large}}" />
            </a>
            <div class="meta">
                <h4><span class="ng-binding" ng-bind="value.title"></span> <em class="ng-binding" ng-bind="value.rating.average"></em></h4>
                <div class="otherinfo">类型:
                    <span ng-repeat="leixing in value.genres" ng-bind="leixing" class="ng-binding ng-scope"></span>
                </div>
            </div>
        </li>
    </ul>
</div>
